streamlit
streamlit-option-menu
Pillow
spacy==3.7.6
sumy
PyPDF2
openai
transformers
pandas
fpdf
pyttsx3
matplotlib
wordcloud
seaborn
langdetect
scikit-learn
torch
numpy>=1.24.0  # Ensure a recent version of numpy
thinc>= 9.0.0 # Ensure a version compatible with the specified spacy version
